section.section_why
	.container
		.content-wrapper 
			h2.section-header Почему я косплеер ?
			.why-desc
				p В мир косплея я зашёл в 2014 году. Впервые выйдя в костюме, меня захлестнуло не передаваемое чувство, исходившее из самого сердца. <br> За годы я посетил множество фестивалей, и работал от разных заказчиков и организаций, но то незабываемое чувство, когда ты в костюме преследует меня до сех пор. На данный момент основным моим персонажем является образ знаменитого героя комиксов «Marvel» - Человека-Паука, но надеюсь вскоре расширить свой кругозор и другими персонажами.				
				img(src="./img/mainpage/img_1.jpg", alt="").desc-img