section.section_services(style="background-image: url(./img/ads-bg.jpg)")
	.container
		.content-wrapper
			h2.section-header.section-header-services
				|Услуги аниматора
			p.section-desc-services Вы устали, вам хочется праздника, а любая подготовка к нему несет с собой хлопоты.<br>Аниматор- поможет вам сделать ваш праздник ярким и неповторимым. Я готов порадовать ваших детей, или провести ваш корпоротив, и подарить вам незабываемый праздник, в образе Человека Паука или Ф.Т.Барнума.
			//- a(href="tel:+9999999999").service-btn Позвонить 
		.form-section
			h2.section-header.section-header-services
				|Заявка на услуги
			p.section-desc 
				|Вы можете заполнить форму ниже или связаться со мной в Instagram или ВКонтакте.
			form(id="order").order__form-content
				.formgroup
					.formgroup-left
						input.order__form-input(type="text" placeholder="Ваше имя")
						input.order__form-input(type="text" placeholder="+7(___)___-__-__")
						input.order__form-input(type="text" placeholder="Ваш Email")
					.formgroup-right
						textarea(name="comment"  placeholder="Комментарий к заявке").order__form-textarea
				.formgroup--checkbox
					input#order-policy(type="checkbox")
					label.order-policy-text(for="order-policy")
						|Я согласен на обработку моих персональных данных. С Политикой в отношении обработки персональных данных ознакомлен и согласен.
				button(type="submit").service-btn.btn-order Отправить заявку