section.section_about-cosplay
	.container
		.content-wrapper
			.about-cosplay-img(style="background-image:url(./img/about.jpg)")
				.cosplay-author Косплеер: Надежда Критская
			.about-cosplay-desc(style="background-image:url(./img/about-cover.png)") 
				h2.section-header.header-about-cosplay
					|Всё о косплее
				p
					|Итак, мама, я косплеер. Я решил/а увлечься этой прелестной субкультурой и меня не остановит ничто, даже отсутствие денег и познаний. У меня есть любимые герои, но либо не хочется вживаться в их образ, либо я трезво понимаю, что разительно отличаюсь от них внешне. <span>Кого же мне косплеить?</span>
				a(href="#!").btn.custom-btn Читать больше