//- section.section_why
//- 	.container
//- 		//- .content-wrapper 
//- 		//- 	h2 Почему я косплеер?
//- 		//- 	.why-desc 
//- 		//- 	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aut ullam at iste provident quibusdam earum expedita voluptatum vitae? Alias voluptatibus incidunt tempore aliquid nobis iusto repellendus assumenda laudantium sint?
//- 		//- 	img(src="", alt="")