section.section_gallery
	.container
		.content-wrapper
			h2.section-header.section-header-gallery
				|Галерея моих образов
			.owl-carousel.carousel-gallery
				a(href="#")
					img(src="./img/gallery/img_1.png", alt="")
				a(href="#")
					img(src="./img/new-works/spider.jpg", alt="")
				a(href="#")
					img(src="./img/gallery/img_3.png", alt="")
				a(href="#")
					img(src="./img/gallery/img_4.png", alt="")
				a(href="#")
					img(src="./img/new-works/spider.jpg", alt="")
				a(href="#")
					img(src="./img/gallery/img_2.png", alt="")
				a(href="#")
					img(src="./img/gallery/img_3.png", alt="")
				a(href="#")
					img(src="./img/new-works/fineas.jpg", alt="")
				a(href="#")
					img(src="./img/gallery/img_3.png", alt="")
				a(href="#")
					img(src="./img/gallery/img_4.png", alt="")
