section.section_news
	.container
		.content-wrapper
			.news-img(style="background-image:url(./img/news.jpg)")
			.news-desc(style="background-image:url(./img/about-cover.png)") 
				h2.section-header.header-news
					|Новости из мира косплея
				h3.title-news
					|В рамках EpicCon 2021 состоится конкурс косплея.
				p
					|Приглашаем всех косплееров России принять участие в конкурсе косплея Epic Con 2021, который пройдет в Москве и Санкт-Петербурге!
				a(href="#!").btn.custom-btn Читать больше