.section_why {
    background-color: #171c22;
    padding-bottom: 315px;

    @include media-tablet {
        & {
        }
    }
    @include media-pc {
        & {
        }
    }
    .content-wrapper {
        position: relative;
        padding: 45px;
        padding-top: 20px;
        background: repeat center url(../img/mainpage/back_1.png);

        &::before {
            position: absolute;
            display: block;
            content: "";
            top: -40px;
            left: 0;
            width: 100%;
            height: 40px;
            background: repeat center url(../img/mainpage/back_1.png);
            backdrop-filter: blur(10px);
        }
    }
}

.section-header--why {
    margin-bottom: 60px;
}

.why-desc {
    display: flex;
}
