$mediaWidthPhoneHorizontal: 504px;
$mediaWidthTablet: 768px;
$mediaWidthLaptop: 992px;
$mediaWidthPC: 1200px;

$fontFamilyMain: "Open Sans", sans-serif;
$fontFamilyKurale: "Kurale", serif;
$fontFamilyNotoSans: "Noto Sans", sans-serif;
