footer.footer
	.container 
		.content-wrapper 
			.social-section
				h3.section-header
					|DevilOnCall
				.social
					a(href="#").social-link
						+icon("instagram","social-icon")
					a(href="#").social-link
						+icon("vk","social-icon")
			.break-line
			.rights-section
				span 2021 &copy; Designed by 
					a(href="https://vk.com/id9609810") Galina Vesta
				span  Developed by 
					a(href="https://vk.com/xthemey") Artem Ivannikov