include ../mixins/svgMixin

header.header
	nav.navigationbar
		label.toggle-menu.clearfix
			span
		.container
			label.logo DevilOnCall
			ul.navmenu.clearfix
				li
					a(href="#") Главная
				li#navAccordion
					a(href="#") Мои работы
					+icon("arrowDown")
					ul.submenu
						li
							a(href="#") Человек Паук
						li
							a(href="#") Финеас Барнум
	#carouselHeader.carousel.slide(data-bs-ride="carousel" data-bs-interval="10000")
		.carousel-inner
			.carousel-item.active
				.overlay-image(style="background-image: url(./img/header/bg_1.png);")
				.container
					.slide-wrapper
						.header-desc
							h2.slide-header DevilOnCall Cosplay
							p.slide-desc
								|Cтремление стать лучше берет начало от образа, с которого мы берём пример
							.social
								a(href="#").social-link.social-link--header
									+icon("instagram","social-icon")
								a(href="#").social-link.social-link--header
									+icon("vk","social-icon")
						img(src="./img/header/image_1.png", alt="")
			.carousel-item
				.overlay-image(style="background-color: #171c22;")
				.container
					.slide-wrapper
						.header-desc
							h2.slide-header DevilOnCall Cosplay
							p.slide-desc
								|Cтремление стать лучше берет начало от образа, с которого мы берём пример
							.social
								a(href="#").social-link.social-link--header
									+icon("instagram","social-icon")
								a(href="#").social-link.social-link--header
									+icon("vk","social-icon")
						img(src="./img/header/image_2.png", alt="").img-fineas
			.carousel-item
				.overlay-image(style="background-image: url(./img/header/bg_3.png);")
				.container
					.slide-wrapper.web-slide
						.header-desc
							h2.slide-header DevilOnCall Cosplay
							p.slide-desc
								|«Даже в самое темное время, можно найти лучик света и надежду» так и в этом мире, то что нравится становится нашим светом и ориентиром.
							.social
								a(href="#").social-link.social-link--header
									+icon("instagram","social-icon")
								a(href="#").social-link.social-link--header
									+icon("vk","social-icon")