header.header
	.container
		.header-content
			div.header-bg
				img(src="./img/header-bg.jpg", alt="header-background")
			h4 DevilOnCall
			h1 Deviloncall Cosplay
			p
				|стремление стать лучше, берет начало от образа с которого мы берём пример 
			div.header-img
				img(src="./img/header-img.png", alt="")