header.header
	.header-bg
		img.bg-img(src="./img/header/bg.jpg", alt="header-background")
	.header-img
		img(src="./img/header/image_1.png", alt="")
	.container
		.header-wrapper
			nav.nav
				h4.vs-header DevilOnCall
				ul.header-menu
					li Главная
					li Мои образы
			.header-content
				h1.header__vb-header DevilOnCall Cosplay
				.wrapper
					p.main-desc
						|Cтремление стать лучше берет начало от образа, с которого мы берём пример