header.header
	.header-bg
		img.bg-img(src="./img/header/bg.jpg", alt="header-background")
		.header-img
			img(src="./img/header/image_1.png", alt="")
	.container
		.header-wrapper
			h4.vs-header.header__vs-header DevilOnCall
				h1.vb-header.header__vb-header DevilOnCall Cosplay
				p.main-desc
					|Cтремление стать лучше, берет начало от образа с которого мы берём пример 
				