include ./main_page/section_why.pug
include ./main_page/section_devider_1.pug
include ./main_page/section_new_works_1.pug
include ./main_page/section_about_cosplay.pug
include ./main_page/section_new_works_2.pug
include ./main_page/section_news.pug
include ./main_page/section_devider_2.pug
include ./main_page/section_gallery.pug
include ./section_feedback.pug