nav.navigationbar
		label.toggle-menu.clearfix
			span
		.container
			label.logo DevilOnCall
			ul.navmenu.clearfix
				li
					a(href="index.html") Главная
				li#navAccordion
					a(href="#") Мои работы
					+icon("arrowDown")
					ul.submenu
						li
							a(href="spider-man.html") Человек Паук
						li
							a(href="#") Финеас Барнум