@import "./sprite";
@import "../blocks/header";
@import "../sections/navbar";
@import "../blocks/mainpage";

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 0 15px;
    @include media-tablet {
        & {
            max-width: $mediaWidthTablet;
        }
    }
    @include media-pc {
        & {
            max-width: $mediaWidthPC;
        }
    }
}

.section-header{
	text-align: center;
	font-size: 4rem;
}
