.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-arrowDown {
    font-size: (6/10) * 1rem;
    width: (8/6) * 1em;
}
.icon-scroll {
    font-size: (263/10) * 1rem;
    width: (16/263) * 1em;
}
.icon-vector {
    font-size: (64/10) * 1rem;
    width: (42/64) * 1em;
}
