.header {
    width: 100%;
    min-width: 320px;
    height: 100%;
}

.carousel-item {
    position: relative;

    .container {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        padding: 100px 15px 0;
    }
}

#carouselHeader {
    z-index: -1;

    .overlay-image {
        background-position: left bottom;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 530px;
        @include media-tablet {
            & {
                height: 700px;
            }
        }
        @include media-pc {
            & {
                height: 1000px;
            }
        }
    }

    .slide-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        @include media-tablet {
            & {
                flex-direction: row-reverse;
                justify-content: center;
                align-items: flex-end;
            }
        }

        img {
            width: 180px;
            margin-bottom: 18px;
            @include media-phone-horizontal {
                & {
                    width: 251px;
                }
            }

            @include media-tablet {
                & {
                    margin-bottom: 21px;
                    width: 385px;
                }
            }
            @include media-pc {
                & {
                    width: 700px;
                }
            }
        }

        .img-fineas {
            @include media-phone-horizontal {
                & {
                    width: 230px;
                }
            }

            @include media-tablet {
                & {
                    width: 385px;
                }
            }
            @include media-pc {
                & {
                    width: 700px;
                }
            }
        }
    }
}

.background-fineas {
    height: inherit;
    background-color: #171c22;
}

.header-desc {
    margin-bottom: 30px;

    @include media-tablet {
        & {
            width: 250px;
            margin-bottom: 100px;
            margin-left: 25px;
            align-self: center;
        }
    }
    @include media-pc {
        & {
            width: auto;
            flex-grow: 1;
            margin-bottom: -40px;
        }
    }
}

.slide-header {
    text-align: center;
    font-size: 3.6rem;
    margin-bottom: 25px;
    padding: 0px 65px;
    @include media-tablet {
        & {
            text-align: left;
            margin-bottom: 15px;
            padding: 0px 10px;
            font-size: 4.5rem;
        }
    }
    @include media-pc {
        & {
            margin-bottom: 125px;
            font-size: 6.8rem;
        }
    }
}

.slide-desc {
    text-align: center;
    font-size: 1.4rem;
    padding: 0px 35px;

    @include media-phone-horizontal {
        & {
            padding: 0px 100px;
        }
    }

    @include media-tablet {
        & {
            padding: 0px 10px;
            text-align: left;
            font-size: 1.8rem;
        }
    }
    @include media-pc {
        & {
            width: 415px;
            font-size: 2rem;
        }
    }
}

.web-slide {
    justify-content: center !important;
    .header-desc {
        flex-grow: 0;
        width: 450px;
    }
    .slide-header {
        padding: 0 75px;
    }
    .slide-desc {
        padding: 0px 90px;
    }
}
.social {
    display: none;
    @include media-tablet {
        & {
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
        }
    }
    @include media-pc {
        & {
            justify-content: flex-start;
            padding-left: 150px;
        }
    }
}

.social-icon {
    font-size: 3.5em;
}

.social-link {
    display: inline-block;
}

.social-link--header {
    & + & {
        margin-left: 45px;
    }
}
