extends ../layouts/master-page.pug

block variables
	- var title = "DevilOnCall Cosplay - Страница не найдена";

block content
	include ../sections/404/header.pug
	include ../sections/404/content.pug
	include ../sections/footer.pug