extends ../layouts/master-page.pug

block variables
	- var title = "DevilOnCall Cosplay - Главная страница";

block content
	include ../sections/header.pug
	include ../sections/main_page/mainpage_content.pug
	include ../sections/footer.pug
