extends ../layouts/master-page.pug

block variables
	- var title = "DevilOnCall Cosplay - Главная страница";

block content
	include ../sections/spider-man/header.pug
	include ../sections/spider-man/content.pug
	include ../sections/footer.pug