.section_devider {
    width: 100%;
    height: 55px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include media-tablet {
        & {
            height: 120px;
        }
    }
    @include media-pc {
        & {
            height: 300px;
        }
    }
}
