.overlay-error
	.overlay-image(style="background-image: url(./img/header/bg_3.png);")
		.container
			.error-wrapper
				h2.section-header Упс! Что-то пошло не так.
				a(href="index.html").btn.custom-btn.error-link Вернуться на главную