.spiderman-header-wrapper {
    .overlay-image {
        background-position: 70%;
        @include media-tablet {
            & {
                overflow: hidden;
                height: 500px;
                background-position: 100%;
            }
        }
        @include media-custom("991px") {
            & {
                overflow: initial;
            }
        }
        @include media-pc {
            & {
                height: inherit;
            }
        }
    }

    .header-content-wrapper {
        padding-left: 15px;
        padding-right: 15px;

        height: 530px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 100px;
        align-items: center;
        position: relative;
        @include media-custom("576px") {
            & {
                padding-left: 0;
                padding-right: 0;
                justify-content: initial;
                align-items: initial;
            }
        }
        @include media-tablet {
            & {
                height: auto;
                flex-direction: row;
                padding-top: 120px;
            }
        }
        @include media-pc {
            & {
                padding-top: 385px;
            }
        }

        .content-text {
            flex: 0 1 50%;
            width: 100%;

            @include media-pc {
                & {
                    margin-top: -60px;
                }
            }
            @include media-custom("1400px") {
                & {
                    margin-top: 0;
                }
            }
            .section-header {
                text-align: left;
                margin-bottom: 10px;
                font-size: 2.8rem;

                @include media-tablet {
                    & {
                        font-size: 4.5rem;
                        margin-bottom: 20px;
                    }
                }
                @include media-pc {
                    & {
                        font-size: 8.6rem;
                        margin-bottom: 30px;
                    }
                }
                @include media-custom("1400px") {
                    & {
                        font-size: 9.6rem;
                    }
                }
            }
            .section-desc {
                font-size: 1.4rem;
                margin-bottom: 35px;

                @include media-tablet {
                    & {
                        margin-bottom: 60px;
                        font-size: 1.8rem;
                    }
                }
                @include media-pc {
                    & {
                        font-size: 2.4rem;
                        margin-bottom: 80px;
                    }
                }
            }
        }
        .content-img {
            flex: 0 1 50%;
            position: absolute;
            width: 73%;
            right: 0px;
            bottom: -8px;
            @include media-custom("576px") {
                & {
                    right: -24px;
                    bottom: -23px;
                }
            }
            @include media-tablet {
                & {
                    position: relative;
                    width: 100%;
                    right: 0;
                    bottom: 0;
                }
            }
            @include media-custom("991px") {
                & {
                    width: 100%;
                }
            }
            .spider-img {
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    display: none;

                    width: 25%;
                    height: 36px;
                    background-color: #245c77;

                    @include media-custom("991px") {
                        & {
                            display: block;
                            bottom: 29px;
                        }
                    }
                    @include media-pc {
                        & {
                            bottom: 35px;
                            width: 25%;
                            height: 55px;
                        }
                    }
                    @include media-custom("1400px") {
                        & {
                            width: 160px;
                        }
                    }
                }
                @include media-tablet {
                    & {
                        width: 119%;
                    }
                }
                @include media-custom("991px") {
                    & {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.btn-call {
    color: white;
    border-color: white;
    @include media-tablet {
        & {
            font-size: 1.4rem;
        }
    }
    @include media-pc {
        & {
            font-size: 2rem;
        }
    }
}
.section-spider {
    background-color: #245c77;
    margin-top: -15px;
    @include media-tablet {
        & {
            margin-top: -30px;
        }
    }
    @include media-custom("991px") {
        & {
            margin-top: -5px;
        }
    }
    @include media-pc {
        & {
            margin-top: -90px;
        }
    }
}
.spiderman {
    width: 100%;
    height: 300px;
}
