@import "./utils/_vars";
@import "./mixins/media";
@import "./base/base";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: $fontFamilyMain;
    color: white;
    background: #171c22;
}

img {
    width: 100%;
    display: block;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: $fontFamilyKurale;
    font-weight: normal;
}

p {
    padding: 0;
    margin: 0;
    font-family: $fontFamilyMain;
    font-weight: normal;
}

button {
    background: transparent;
    font-family: $fontFamilyMain;
    &:focus {
        outline: none;
    }
}

textarea {
    outline: none;
    resize: none;
    display: inline-block;
    font-family: $fontFamilyMain;
}

input[type="text"] {
    font-family: $fontFamilyMain;
    &:focus {
        outline: none;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
