include ../../mixins/svgMixin

header.header
	include ../navigation
	.spiderman-header-wrapper
		.overlay-image(style="background-image: url(./img/spiderman/header-bg.png);")
			.container
				.header-content-wrapper
					.content-text
						h2.section-header Человек-паук
						p.section-desc Человек-Паук вымышленный герой серии комиксов "MARVEL" завоевавший любовь публики в 1962 году
						a(href="index.html").btn.custom-btn.btn-call Заказать звонок
					.content-img 
						.spider-img
							img(src="./img/spiderman/spiderman.png", alt="")
.section-spider 
	.container
		.spiderman

	