section.hero-about 
	.container 
		.content-wrapper
			.content-img
				.cover-img
					img(src="./img/spiderman/cover_1.jpg", alt="")
				p Человек-паук на обложке
				p Художники: Джей Скотт Кэмпбелл и Тим Тон Таунсенд
			.content-desc 
				p
					|История данного героя (настоящее имя Питер Бенджамин Паркер) начинается вокруг подростка, воспитанного дядей и тетей, получивший удивительные способности, в ходе научной выставки, которого укусил радиоактивный паук. Радиация развила способности паука и передала их Питеру.
				p 
					|Питер обрел невероятную силу, ловкость и способность ползать по стенам.
				p 
					|Завораживающая история персонажа, продолжается до сех пор,и хоть герой уже повзрослел, но любовь публики к данному персонажу растет с каждым годом.
				p 
					|Для меня данный герой, с малых лет, был примером стойкости. Какие бы неудачи, не постигли бы его, он находил в себе силы подняться и идти вперёд, даря надежду для других.
			.spidey-cover
				img(src="./img/spiderman/spider_1.png", alt="")

